---
export async function getStaticPaths() {
  const ripleyPhone = "01773 292 029";
  const nottinghamPhone = "0115 648 1851";
  const newarkPhone = "01636 330044";
  const mansfieldPhone = "01623 325 123";
  const worksopPhone = "01909 251 051";
  const chesterfieldPhone = "01246 792097";
  return [
    {
      params: { area: "alfreton" },
      props: { title: "Alfreton", phoneNumber: ripleyPhone },
    },
    {
      params: { area: "arnold" },
      props: { title: "Arnold", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "averham" },
      props: { title: "Averham", phoneNumber: newarkPhone },
    },
    {
      params: { area: "balderton" },
      props: { title: "Balderton", phoneNumber: newarkPhone },
    },
    {
      params: { area: "bestwood" },
      props: { title: "Bestwood", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "bilsthorpe" },
      props: { title: "Bilsthorpe" },
    },
    {
      params: { area: "bingham" },
      props: { title: "Bingham", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "blidworth" },
      props: {
        title: "Blidworth",
        map: "Mansfield",
        phoneNumber: mansfieldPhone,
      },
    },
    {
      params: { area: "blyth" },
      props: { title: "Blyth", phoneNumber: worksopPhone },
    },
    {
      params: { area: "bulwell" },
      props: { title: "Bulwell", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "burton-joyce" },
      props: { title: "Burton Joyce", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "calverton" },
      props: { title: "Calverton", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "carlton" },
      props: { title: "Carlton", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "carlton-in-lindrick" },
      props: { title: "Carlton in Lindrick", phoneNumber: worksopPhone },
    },
    {
      params: { area: "caunton" },
      props: { title: "Caunton", phoneNumber: newarkPhone },
    },
    {
      params: { area: "chesterfield" },
      props: { title: "Chesterfield", phoneNumber: chesterfieldPhone },
    },
    {
      params: { area: "clipstone" },
      props: { title: "Clipstone", phoneNumber: newarkPhone },
    },
    {
      params: { area: "colwick" },
      props: { title: "Colwick", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "cotgrave" },
      props: { title: "Cotgrave", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "creswell" },
      props: { title: "Creswell", phoneNumber: worksopPhone },
    },
    {
      params: { area: "derby" },
      props: {
        title: "Derby",
        nearbyAreas: ["Ilkeston", "Somercotes", "Ripley", "Alfreton"],
        phoneNumber: ripleyPhone,
      },
    },
    {
      params: { area: "doncaster" },
      props: { title: "Doncaster", phoneNumber: worksopPhone },
    },
    {
      params: { area: "eakring" },
      props: {
        title: "Eakring",
        phoneNumber: newarkPhone,
      },
    },
    {
      params: { area: "east-bridgford" },
      props: { title: "East Bridgford", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "east-markham" },
      props: { title: "East Markham", phoneNumber: newarkPhone },
    },
    {
      params: { area: "eastwood" },
      props: { title: "Eastwood", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "edwalton" },
      props: { title: "Edwalton", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "edwinstowe" },
      props: {
        title: "Edwinstowe",
        phoneNumber: newarkPhone,
      },
    },
    {
      params: { area: "farnsfield" },
      props: {
        title: "Farnsfield",
        phoneNumber: newarkPhone,
      },
    },
    {
      params: { area: "fernwood" },
      props: { title: "Fernwood", phoneNumber: newarkPhone },
    },
    {
      params: { area: "forest-town" },
      props: {
        title: "Forest Town",
        phoneNumber: mansfieldPhone,
      },
    },
    {
      params: { area: "giltbrook" },
      props: { title: "Giltbrook", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "hucknall" },
      props: { title: "Hucknall", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "ilkeston" },
      props: { title: "Ilkeston", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "kirkby-in-ashfield" },
      props: {
        title: "Kirkby In Ashfield",
        phoneNumber: mansfieldPhone,
      },
    },
    {
      params: { area: "kirklington" },
      props: {
        title: "Kirklington",
        phoneNumber: newarkPhone,
      },
    },
    {
      params: { area: "lincoln" },
      props: { title: "Lincoln", phoneNumber: newarkPhone },
    },
    {
      params: { area: "loughborough" },
      props: { title: "Loughborough", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "mansfield" },
      props: {
        title: "Mansfield",
        nearbyAreas: [
          "Sutton-in-Ashfield",
          "Rainworth",
          "Blidworth",
          "Forest-Town",
          "Shirebrook",
          "Kirkby-in-Ashfield",
          "Warsop",
        ],
        phoneNumber: mansfieldPhone,
      },
    },
    {
      params: { area: "mapperley" },
      props: { title: "Mapperley", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "newark" },
      props: {
        title: "Newark",
        nearbyAreas: [
          "Southwell",
          "Bilsthorpe",
          "Ollerton",
          "Farnsfield",
          "Edwinstowe",
          "Ravenshead",
          "Eakring",
          "Kirklington",
          "Clipstone",
          "Averham",
          "Fernwood",
          "East-Markham",
          "Balderton",
        ],
        phoneNumber: newarkPhone,
      },
    },
    {
      params: { area: "nottingham" },
      props: {
        title: "Nottingham",
        nearbyAreas: [
          "Arnold",
          "Mapperley",
          "Burton-Joyce",
          "Giltbrook",
          "Calverton",
          "Bestwood",
          "West-Bridgford",
          "Bulwell",
          "Hucknall",
          "Radcliffe-on-Trent",
          "Eastwood",
          "East-Bridgford",
          "Cotgrave",
          "Bingham",
          "Carlton",
          "Colwick",
          "Edwalton",
        ],
        phoneNumber: nottinghamPhone,
      },
    },
    {
      params: { area: "ollerton" },
      props: {
        title: "Ollerton",
        phoneNumber: mansfieldPhone,
      },
    },
    {
      params: { area: "radcliffe-on-trent" },
      props: { title: "Radcliffe On Trent", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "rainworth" },
      props: {
        title: "Rainworth",
        phoneNumber: mansfieldPhone,
      },
    },
    {
      params: { area: "ravenshead" },
      props: {
        title: "Ravenshead",
        phoneNumber: mansfieldPhone,
      },
    },
    {
      params: { area: "retford" },
      props: { title: "Retford", phoneNumber: mansfieldPhone },
    },
    {
      params: { area: "ripley" },
      props: { title: "Ripley", phoneNumber: ripleyPhone },
    },
    {
      params: { area: "shirebrook" },
      props: {
        title: "Shirebrook",
        phoneNumber: mansfieldPhone,
      },
    },
    {
      params: { area: "somercotes" },
      props: { title: "Somercotes", phoneNumber: ripleyPhone },
    },
    {
      params: { area: "southwell" },
      props: {
        title: "Southwell",
        phoneNumber: newarkPhone,
      },
    },
    {
      params: { area: "sutton-in-ashfield" },
      props: {
        title: "Sutton In Ashfield",
        phoneNumber: mansfieldPhone,
      },
    },
    {
      params: { area: "tuxford" },
      props: { title: "Tuxford", phoneNumber: worksopPhone },
    },
    {
      params: { area: "warsop" },
      props: {
        title: "Warsop",
        phoneNumber: mansfieldPhone,
      },
    },
    {
      params: { area: "west-bridgford" },
      props: { title: "West Bridgford", phoneNumber: nottinghamPhone },
    },
    {
      params: { area: "worksop" },
      props: {
        title: "Worksop",
        nearbyAreas: ["Tuxford", "Retford", "Caunton"],
        phoneNumber: worksopPhone,
      },
    },
  ];
}

import ServiceLayout from "../../layouts/ServiceLayout.astro";

const { title, nearbyAreas = [], phoneNumber = "0330 133 9311" } = Astro.props;
---

<ServiceLayout
  title={`Mobile Tyre Fitting ${title} | 24/7 Service | Call Now`}
  description={`Mobile tyre fitting in ${title}. We come to you at home, work, or roadside. Available 24/7 with a 60-minute arrival time.`}
  heading={`Mobile Tyre Fitting in ${title}`}
  tagline="We Come to You - 7 Days a Week"
  phoneNumber={phoneNumber}
>
  <h1 class="fw-bold mb-3">Mobile Tyre Fitting {title}</h1>
  <p>
    If you're looking for <strong>mobile tyre fitting in {title}</strong>, give
    us a call today. At Tyre Emergency, we offer a fast-response mobile tyre
    service across {title} and nearby areas.
  </p>
  <p>
    Our mobile tyre fitters are available 24/7, offering <em
      >same-day fitting</em
    >
    with an average arrival time of just 60 minutes. If you need an emergency tyre
    replacement in {title}, we’re here to help.
  </p>
  <h2 class="fw-bold">24Hr Emergency Tyre Service in {title}</h2>
  <p>
    A flat tyre can happen anytime, which is why we provide a reliable 24-hour
    mobile tyre fitting service in {title} and surrounding areas.
  </p>
  <p>
    Whether it’s a pothole, a puncture, or another issue, don’t panic—we aim to
    get to you quickly and get you back on the road.
  </p>
  {
    nearbyAreas.length > 0 && (
      <>
        <h2 class="fw-bold">{title} & Surrounding Areas</h2>
        <p>
          We cover many areas of {title}, including:{" "}
          {nearbyAreas.map((area, index) => (
            <span>
              <a
                class="link-danger"
                href={`/areas/${area.toLowerCase()}/`}
                target="_blank"
                rel="noopener noreferrer"
              >
                {area}
              </a>
              {index < nearbyAreas.length - 2
                ? ", "
                : index === nearbyAreas.length - 2
                  ? ", and "
                  : ""}
            </span>
          ))}
        </p>
      </>
    )
  }

  <h2 class="fw-bold">Call Us For Assistance</h2>
  <p>
    If you'd like to get a price for our mobile tyre service, give us a call
    today!
  </p>
</ServiceLayout>
