---
const {area} = Astro.props;
---
<section class="py-5">
    <div class="container">
        <div class="row g-5">
            <div class="col-12 col-lg-8">
                <h2 class="fw-bold text-uppercase">Tyre Services In {area}</h2>
                <p class="lead">Tyre Emergency offers a wide range of tyre related services in {area}, including:</p>
                <ul class="lead">
                    <li>Mobile tyre fitting</li>
                    <li>TPMS servicing</li>
                    <li>Tyre sensor programming</li>
                </ul>
                <h2 class="fw-bold text-uppercase">Other Services In {area}</h2>
                <p class="lead">Along with our convenient mobile tyre service, we offer additional services including <a href="/services/locking-wheel-nut-removal" class="link-danger">locking wheel nut removal</a> and <a href="/services/mobile-car-battery-replacement" class="link-danger">mobile car battery replacement</a>. For more information or a quote, call us on <strong class="fw-bold">0330 133 9311</strong>.</p>
                <h2 class="fw-bold text-uppercase">Contact Us Today</h2>
                <p class="lead">If you live in {area} and need a price for tyres, give us a call today! Our mobile fitters can come to you 7 days a week at a time and place that suits you.</p>
            </div>
            <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                <div class="mb-3 bg-light border p-4 rounded-3 row">
                    <div class="col-3 d-flex align-items-center">
                        <i class="bi bi-calendar-check-fill fs-1"></i>
                    </div>
                    <div class="col-9">

                        <p class="h3 mb-0 fw-bold">Flexible Service</p>
                        <p class="mb-0">Open 7 Days a Week</p>
                    </div>
                </div>
                <div class="mb-3 bg-dark text-light border p-4 rounded-3 row">
                    <div class="col-3 d-flex align-items-center">
                        <i class="bi bi-clock-fill fs-1"></i>
                    </div>
                    <div class="col-9">

                        <p class="h3 mb-0 fw-bold">Fast Response</p>
                        <p class="mb-0">Average 60 Minute Arrival Time</p>
                    </div>
                </div>
                <div class="mb-3 bg-danger text-light border p-4 rounded-3 row">
                    <div class="col-3 d-flex align-items-center">
                        <i class="bi bi-map-fill fs-1"></i>
                    </div>
                    <div class="col-9">

                        <p class="h3 mb-0 fw-bold">Local Service</p>
                        <p class="mb-0">{area} & Surrounding Areas</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>