---
const {
  heading,
  tagline,
  backgroundUrl,
  phoneNumber = '0330 133 9311',
} = Astro.props;

const heroStyle = {
  background: `linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(${backgroundUrl})`,
  backgroundSize: "cover",
  backgroundPosition: "center",
  backgroundRepeat: "no-repeat",
  minHeight: "80vh",
  display: "flex",
  alignItems: "center",
};

---

<section id="hero" style={heroStyle}>
  <div class="container py-5">
       <div class="text-light text-center d-flex flex-column justify-content-center">
        <p class="fw-bold display-1 mb-3 accent text-uppercase"><em>{heading}</em></p>
        <p class="fs-2 mb-4">{tagline}</p>
        <div class="mb-5">
          <a href=`tel:${phoneNumber}` class="btn fs-4 btn-primary text-uppercase fw-bold btn-lg"><i class="bi bi-telephone-fill"></i> Call Us Now</a>
        </div>
      </div>
  </div>
</section>
