---
const {
  heading,
  tagline,
  backgroundUrl,
  phoneNumber = '0330 133 9311',
} = Astro.props;

const heroStyle = {
  background: `linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(${backgroundUrl})`,
  backgroundSize: "cover",
  backgroundPosition: "center",
  backgroundRepeat: "no-repeat",
  minHeight: "80vh",
  display: "flex",
  alignItems: "center",
};

---

<section id="hero" style={heroStyle}>
  <div class="container py-5">
       <div class="text-light d-flex flex-column justify-content-center">
        <p class="fw-bold display-3 mb-3 accent text-uppercase"><em>{heading}</em></p>
        <p class="fs-2 mb-4">{tagline}</p>
        <ul class="fs-5 lead list-unstyled">
          <li class="mb-2">
            <i class="bi bi-geo-alt-fill text-danger me-2"></i>
            <span class="fw-bold">Mobile Service</span> — Home, Work, or Roadside
          </li>
          <li class="mb-2">
            <i class="bi bi-house-fill text-danger me-2"></i>
            <span class="fw-bold">Based in Nottinghamshire</span> — 10+ Years of Experience
          </li>
          <li class="mb-2">
            <i class="bi bi-clock-fill text-danger me-2"></i>
            <span class="fw-bold">Fast Response Times</span> — Typically Within 30 Minutes
          </li>
        </ul>
        
        
        <div class="my-4">
          <a href=`tel:${phoneNumber}` class="btn fs-2 accent btn-warning text-uppercase btn-lg pe-4"><i class="bi bi-telephone-fill"></i> Call Us Now</a>
        </div>
        <p class="fs-5 d-none d-md-block"><span class="fw-bold">Not an emergency?</span> <a href="https://garage-bookings.com/?clientID=537&homeURL=https://tyreemergency.com/confirmation&language=en&skipConfirmationPage=n" class="link-danger" target="_blank">Book online for next day tyre fitting</a></p>
      </div>
  </div>
</section>

