---
import Quote from "./Quote.astro";
const {
  heading,
  tagline,
  backgroundUrl,
  phoneNumber = "0330 133 9311",
} = Astro.props;

const heroStyle = {
  background: `linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(${backgroundUrl})`,
  backgroundSize: "cover",
  backgroundPosition: "center",
  backgroundRepeat: "no-repeat",
  minHeight: "80vh",
  display: "flex",
  alignItems: "center",
};
---

<section id="hero" style={heroStyle}>
  <div class="container py-5">
    <div class="row g-3">
      <div
        class="col-lg-6 col-12 text-light d-flex flex-column justify-content-center text-center text-lg-start"
      >
        <p class="fw-bold display-4 mb-3 accent text-uppercase">
          <em>{heading}</em>
        </p>
        <p class="fs-2 mb-4">{tagline}</p>
        <ul class="list-unstyled">
          <li class="mb-2">
            <i class="bi bi-geo-alt-fill text-danger me-2"></i>
            <span class="fw-bold">Mobile Service</span> — Home, Work, or Roadside
          </li>
          <li class="mb-2">
            <i class="bi bi-house-fill text-danger me-2"></i>
            <span class="fw-bold">Based in Nottinghamshire</span> — 10+ Years of
            Experience
          </li>
          <li class="mb-2">
            <i class="bi bi-clock-fill text-danger me-2"></i>
            <span class="fw-bold">Fast Response Times</span> — Typically Within 30
            Minutes
          </li>
        </ul>

        <div class="my-4 d-flex flex-column flex-md-row d-md-none">
          <a href=`tel:${phoneNumber}` class="btn accent fs-3 btn-lg rounded-0 btn-info"
            ><span><i class="bi bi-telephone-fill me-2"></i>Call Now For a Quote</span></a
          >
        </div>
      </div>
      <div
        class="col-lg-4 offset-lg-2 col-12 flex-column justify-content-center align-items-end"
      >
      <Quote />
      <form action="https://garage-bookings.com/" method="get" class="d-flex text-light align-items-center justify-content-center mt-3" target="_blank">
        <input type="hidden" name="clientID" value="537">
        <input type="hidden" name="homeURL" value="https://tyreemergency.com">
        <input type="hidden" name="language" value="en">
        <input type="hidden" name="skipConfirmationPage" value="n">
        <p class="mb-0 me-3 fw-bold fs-5">Not Urgent?</p>
        <button class="btn btn-outline-light btn-lg">Order Tyres Online</button>
    </form>
      </div>
    </div>
  </div>
</section>
