---
import Quote from "./Quote.astro";
import OnlineQuote from "./OnlineQuote.astro";
const {
  heading,
  tagline,
  backgroundUrl,
  online = false,
  phoneNumber = "0330 133 9311",
} = Astro.props;

const heroStyle = {
  background: `linear-gradient(0deg, rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(${backgroundUrl})`,
  backgroundSize: "cover",
  backgroundPosition: "center",
  backgroundRepeat: "no-repeat",
  minHeight: "80vh",
  display: "flex",
  alignItems: "center",
};
---

<section id="hero" style={heroStyle}>
  <div class="container py-5 text-light text-center">
    <p class="fw-bold display-4 mb-3 accent text-uppercase">
      <em>{heading}</em>
    </p>
    <p class="fs-2 mb-4">{tagline}</p>
    <ul class="list-unstyled">
      <li class="mb-2">
        <i class="bi bi-geo-alt-fill text-danger me-2"></i>
        <span class="fw-bold">Mobile Service</span> — Home, Work, or Roadside
      </li>
      <li class="mb-2">
        <i class="bi bi-house-fill text-danger me-2"></i>
        <span class="fw-bold">Based in Nottinghamshire</span> — 10+ Years of Experience
      </li>
      <li class="mb-2">
        <i class="bi bi-clock-fill text-danger me-2"></i>
        <span class="fw-bold">Fast Response Times</span> — Typically Within 30 Minutes
      </li>
    </ul>

    <a
      href=`tel:${phoneNumber}`
      class="btn accent fs-3 btn-lg rounded-0 btn-info mt-3"
      ><span
        ><i class="bi bi-telephone-fill me-2"></i>Call Us - 0330 133 9311</span
      ></a
    >
  </div>
</section>

<section class="py-3 bg-light border-bottom border-danger accent text-center d-none d-md-block fs-5">
  <div class="container">
    <form
      action="https://garage-bookings.com/"
      method="get"
      target="_blank"
      class="d-flex align-items-center"
    >
      <input type="hidden" name="clientID" value="537" />
      <input type="hidden" name="homeURL" value="https://tyreemergency.com" />
      <input type="hidden" name="language" value="en" />
      <input type="hidden" name="skipConfirmationPage" value="n" />
      <p class="col-6 mb-0">Not Urgent? <span class="text-danger">Book Tyres Online</span></p>
      <div class="col-6">
        <div class="input-group">
          <input
            type="text"
            class="form-control form-control-lg text-uppercase text-center rounded-0"
            name="vrm"
            placeholder="Enter Reg"
            required
          />
          <button class="btn btn-dark rounded-0"><i class="bi bi-search"></i></button>
        </div>
      </div>
    </form>
  </div>
</section>
