---
const {
  heading,
  tagline,
  backgroundUrl,
  phoneNumber = '0330 133 9311',
} = Astro.props;

const heroStyle = {
  background: `linear-gradient(0deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), url(${backgroundUrl})`,
  backgroundSize: "cover",
  backgroundPosition: "center",
  backgroundRepeat: "no-repeat",
  minHeight: "80vh",
  display: "flex",
  alignItems: "center",
};

import Form from "./Form.astro";
---

<section id="hero" style={heroStyle}>
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-7 text-light text-center text-lg-start d-flex flex-column justify-content-center">
        <p class="fw-bold display-1 mb-4">{heading}</p>
        <p class="lead fs-3 mb-4">{tagline}</p>
        <p class="mb-1">
          <i class="bi bi-check-square-fill lead text-success me-2"></i> Open 7 Days a Week
        </p>
        <p class="mb-1">
          <i class="bi bi-check-square-fill lead text-success me-2"></i> Same Day Service Available
        </p>
        <p class="mb-1">
          <i class="bi bi-check-square-fill lead text-success me-2"></i> 10+ Years of Experience
        </p>
        <div class="d-lg-none">
          <a href=`tel:${phoneNumber}` class="btn btn-danger fw-bold text-light mt-4 mb-5 btn-lg"><i class="bi bi-telephone-fill me-2"></i>Call Now For a Quote</a>
        </div>
      </div>
      <div class="d-none col-lg-4 offset-lg-1 d-lg-flex flex-column align-items-stretch justify-content-center">
        <Form />
      </div>
    </div>
  </div>
</section>
