---
interface Props {
    title: string;
}

const { title } = Astro.props;

import ServiceLayout from "./ServiceLayout.astro";
const phoneNumber = import.meta.env.PHONE_NUMBER;
---

<ServiceLayout 
title={`Mobile Tyre Fitting in ${title}`} 
description={`Tyre Emergency offers swift and dependable mobile tyre fitting services in ${title}. We come to you at home, work or roadside.`} 
heading={`Mobile Tyre Fitting in ${title}`}
tagline="We Come to You 24 Hours a Day, 7 Days a Week" 
>

    <h1>Mobile Tyre Fitting in {title}</h1>
    <p>
        Welcome to Tyre Emergency Ltd, your trusted local provider of <strong class="fw-bold">mobile tyre fitting in {title}</strong>. Whether you're facing a <strong class="fw-bold">flat tyre</strong> at home or require roadside tyre assistance, our experienced team is just a phone call away. We're well-equipped to handle a wide range of vehicles, ensuring top-notch service for cars, vans, and more.
    </p>
    <p>
        When you find yourself in a tyre predicament in {title}, there's no need to fret. Our <strong class="fw-bold">7-day mobile tyre fitting service</strong> guarantees swift and reliable help. Your safety and convenience are our top priorities, and we're dedicated to getting you back on the road without unnecessary delays. Don't hesitate to reach out to us at <a href={`tel:${phoneNumber}`} class="link-dark">{phoneNumber}</a>. We're here to assist you promptly!
    </p>
    <p>
        In search of <strong class="fw-bold">tyres in {title}?</strong> Look no further than Tyre Emergency Ltd. Our services are accessible 7 days a week, ensuring a swift resolution to your tyre needs. Get in touch with us now, and we'll have you back on the road in no time.
    </p>
</ServiceLayout>