---
interface Props {
    title: string;
    description: string;
    heading: string;
    tagline: string;
}

const { title, description, heading, tagline } = Astro.props;
import Layout from "./Layout.astro";
import Hero from "../components/Hero.astro";
import Testimonials from "../components/Testimonials.astro";
import CTA from "../components/CTA.astro";
---

<Layout title={title} description={description} noIndex={false}>
    <Hero heading={heading} tagline={tagline} />
    <main id="intro">
        <div>
            <slot />
        </div>
    </main>
    <Testimonials />
    <CTA />
</Layout>
