---
const {
  title,
  description,
  heading,
  tagline,
  phoneNumber = "0330 133 9311",
  backgroundUrl = "/img/mobile-tyre-fitting.webp",
} = Astro.props;

import Layout from "./Layout.astro";
import Hero from "../components/Hero.astro";
import CTA from "../components/CTA.astro";
---

<Layout
  title={title}
  description={description}
  phoneNumber={phoneNumber}
>
  <Hero
    heading={heading}
    tagline={tagline}
    phoneNumber={phoneNumber}
    ,
    backgroundUrl={backgroundUrl}
  />

  <!-- Testimonials -->

  <section class="container py-5">
    <script
      defer
      async
      src="https://cdn.trustindex.io/loader.js?bdce492454c5651a740684e7f09"
    ></script>
  </section>

  <main class="container">
    <div class="row mb-5 g-5">
      <main class="col-12 col-lg-7 text-center text-lg-start">
        <slot />
      </main>
      <aside class="col-12 col-lg-5">
        <!-- Why choose us -->
        <div class="p-5 mb-3 bg-danger text-light rounded" id="whyChooseUs">
          <p class="h3 mb-3 text-center">Why Choose Us</p>
          <p class="mb-0">
            <i class="bi bi-check-circle-fill me-2"></i>Same day service
          </p>
          <p class="mb-0">
            <i class="bi bi-check-circle-fill me-2"></i>Hundreds of tyres in
            stock
          </p>
          <p class="mb-0">
            <i class="bi bi-check-circle-fill me-2"></i>Open 24/7
          </p>
          <p class="mb-0">
            <i class="bi bi-check-circle-fill me-2"></i>30 Minute Response
          </p>
        </div>
        <!-- Areas we cover -->
        <div id="areasWeCover" class="p-5 text-light rounded">
          <p class="h3 mb-3 text-center">
            <i class="text-danger bi bi-geo-alt-fill"></i> Areas We Cover
          </p>
          <div class="row">
            <div class="col">
              <p class="mb-0">
                <i class="text-danger bi bi-check"></i>Mansfield
              </p>
              <p class="mb-0"><i class="text-danger bi bi-check"></i>Newark</p>
              <p class="mb-0"><i class="text-danger bi bi-check"></i>Worksop</p>
              <p class="mb-0"><i class="text-danger bi bi-check"></i>Retford</p>
              <p class="mb-0">
                <i class="text-danger bi bi-check"></i>Nottingham
              </p>
            </div>
            <div class="col">
              <p class="mb-0">
                <i class="text-danger bi bi-check"></i>Doncaster
              </p>
              <p class="mb-0"><i class="text-danger bi bi-check"></i>Ripley</p>
              <p class="mb-0">
                <i class="text-danger bi bi-check"></i>Chesterfield
              </p>
              <p class="mb-0"><i class="text-danger bi bi-check"></i>Lincoln</p>
              <p class="mb-0">
                <i class="text-danger bi bi-check"></i>Grantham
              </p>
            </div>
          </div>
        </div>
        <!-- Tyre brands -->
        <article class="py-5 container">
          <h3 class="text-center">Budget & Premium Brands</h3>
          <div class="row py-5 g-3">
            <img
              class="col-6 col-md-4"
              src="/brands/bridgestone.jpg"
              alt="Bridgestone logo"
              width="100%"
            />
            <img
              class="col-6 col-md-4"
              src="/brands/pirelli.png"
              alt="Pirelli logo"
              width="100%"
            />
            <img
              class="col-6 col-md-4"
              src="/brands/continental.jpg"
              alt="Continental logo"
              width="100%"
            />
            <img
              class="col-6 col-md-4"
              src="/brands/dunlop.jpg"
              alt="Dunlop logo"
              width="100%"
            />
            <img
              class="col-6 col-md-4"
              src="/brands/goodyear.jpg"
              alt="Goodyear logo"
              width="100%"
            />
            <img
              class="col-6 col-md-4"
              src="/brands/michelin.jpg"
              alt="Michelin logo"
              width="100%"
            />
          </div>
        </article>
      </aside>
    </div>
  </main>
  <CTA phoneNumber={phoneNumber} />
</Layout>
