---
const { title, description, heading, tagline, phoneNumber = "0330 133 9311" } = Astro.props;
import Layout from "./Layout.astro";
import Hero from "../components/Hero.astro";
import WhyChooseUs from "../components/WhyChooseUs.astro";
import AreasWeCover from "../components/AreasWeCover.astro";
import Testimonials from "../components/Testimonials.astro";
import CTA from "../components/CTA.astro";
---

<Layout title={title} description={description} noIndex={false} phoneNumber={phoneNumber}>
    <Hero heading={heading} tagline={tagline} phoneNumber={phoneNumber}/>
    <Testimonials />
    <main class="container">
        <div class="row mt-1 mb-5 g-5">
            <main class="col-12 col-lg-7 text-center text-lg-start">
                <slot />
            </main>
            <aside class="col-12 col-lg-5">
                <WhyChooseUs />
                <AreasWeCover />
            </aside>
        </div>
    </main>
    <CTA phoneNumber={phoneNumber} />
</Layout>

