---
interface Props {
    title: string;
    description: string;
    heading: string;
    tagline: string;
    bookOnline: boolean,
}

const { title, description, heading, tagline, bookOnline = false } = Astro.props;
import Layout from "./Layout.astro";
import Hero from "../components/Hero.astro";
import Testimonials from "../components/Testimonials.astro";
import CTA from "../components/CTA.astro";
---

<Layout title={title} description={description} noIndex={false}>
    <Hero heading={heading} tagline={tagline} />
    <main class="container">
        <div class="row mt-1 mb-5 g-5">
            <div class="col-12 col-lg-8 text-center text-lg-start">
                <slot />
            </div>
            <div class="col-12 col-lg-4">
                <div class="p-5" id="whyChooseUs">
                    <p class="h3 mb-3 fw-bold text-center text-lg-start">Why Choose Us</p>
                    <p class="mb-0"><i class="bi bi-check-circle-fill me-2"></i>Same day service</p>
                    <p class="mb-0"><i class="bi bi-check-circle-fill me-2"></i>Hundreds of tyres in stock</p>
                    <p class="mb-0"><i class="bi bi-check-circle-fill me-2"></i>Open 24/7</p>
                    <p class="mb-0"><i class="bi bi-check-circle-fill me-2"></i>60 Minute Response</p>
                </div>
            </div>
        </div>
    </main>
    <Testimonials />
    <CTA />
</Layout>

<style>
    #whyChooseUs {
        background-color: #9AFFFF;
    }
</style>