---
const { title, description, heading, tagline, onlineBooking = false, phoneNumber = "0330 133 9311", tyreBrands = true, backgroundUrl = "/img/mobile-tyre-fitting.webp" } = Astro.props;

import Layout from "./Layout.astro";
import Hero from "../components/Hero.astro";
import WhyChooseUs from "../components/WhyChooseUs.astro";
import AreasWeCover from "../components/AreasWeCover.astro";
import Testimonials from "../components/Testimonials.astro";
import TyreBrands from "../components/TyreBrands.astro";
import CTA from "../components/CTA.astro";
---

<Layout title={title} description={description} noIndex={false} phoneNumber={phoneNumber}>
    <Hero heading={heading} tagline={tagline} phoneNumber={phoneNumber}, backgroundUrl={backgroundUrl} onlineBooking={onlineBooking}/>
    <main class="container">
        <div class="row mt-1 mb-5 g-5">
            <main class="col-12 col-lg-7">
                <slot />
            </main>
            <aside class="col-12 col-lg-5">
                <WhyChooseUs />
                <AreasWeCover />
                <TyreBrands />
            </aside>
        </div>
    </main>
    <Testimonials />
    <CTA phoneNumber={phoneNumber} />
</Layout>

